/* src/pages/SignupPage.css */

.signup-page {
    display: flex;
    height: 100vh;
}

.left-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f7f7f7;
}

.right-section {
    flex: 1;
    background: #ff6a00;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.right-section h2 {
    font-size: 36px;
    margin-bottom: 10px;
}

.right-section p {
    font-size: 18px;
}